.main {
    width: 100%;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

.about {
    display: flex;
    justify-content: center;
    gap: 10% ;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: bisque;
    border: 2px solid black;
}

.about > div {
    flex-basis: 35%;
}

.about > div > p {
    line-height: 1.8rem;
    text-align: justify;
    font-size: 1.2rem;
}

.weixin-img {
    max-width: 35%;
    max-height: 35%;
    width: auto;
    height: auto;
    border-radius: 50%;
    box-shadow: .3rem .2rem .9rem rgb(220, 220, 108);
}

.projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: blueviolet;

}

.projects h2 {
    padding: 2rem;
    font-size: 3rem;
}
.project-group {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    
}

.projects p {
    font-size: 1.2rem;
}

.project-group h3 {
    padding-bottom: 1rem;
}

.resume {
    width: 100%;
    margin: auto;
    background-color: rgb(6, 7, 7);
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: 2px solid black;
}

.resume h2 {
    text-align: left;
    margin-left: 11.7rem;
    margin-bottom: 5rem;
}

.resume-sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.education {
    display: flex;
    justify-content: space-around;
}

.education h3 {
    width: 20rem;
}

.education p {
    font-size: 1.2rem;
}

.education-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.year-content {
    width: 40rem;
    display: flex;
    justify-content: space-between;
}

.skills {
    display: flex;
    justify-content: space-around;
}

.skills li {
    font-size: 1.2rem;
}

.content {
    width: 40rem;
    line-height: 3rem;
}

.skills h3 {
    width: 20rem;
}

.work {
    display: flex;
    justify-content: space-around;
}

.work ul {
    font-size: 1.6rem;
}

.work ul li {
    line-height: 2.5rem;
    font-size: 1.2rem;
}
.work-gorup {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 2rem;
}
.work h3 {
     width: 20rem;
}
.time-content {
    width: 40rem;
    height: 25rem;
}

.time-position {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}




@media only screen and (max-width: 1000px) {
    .about {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .about > div > p {
        font-size: 1rem;
    }

    .projects h3 {
        font-size: 1.5rem;
    }
    .projects p {
        font-size: 1rem;
    }
    .about .description{
        padding: 1rem;
        margin-left: 0;
    }

    .education, .skills, .work {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .education-group{
       display: flex;
       align-items: flex-start;
    }
  }
@media only screen and (max-width: 750px) {
    .about {
      display: flex;
      flex-direction: column;
    }
    .weixin-img{
        margin: auto;
        max-width: 60%;
        width: auto;
        height: auto;
        border-radius: 50%;
        box-shadow: .3rem .2rem .9rem rgb(220, 220, 108);
    }
    .about .description{
        padding: 1rem;
    }
    .project-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .education {
        grid-column: 1/9;
        grid-row: 1;
    }
    .skills {
        grid-column: 1/9;
        grid-row: 2;
    }
    .work {
        grid-column: 1/9;
        grid-row: 3;
    }
    .work-title {
        display: flex;
        flex-direction: column;
    }

    .year-content {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .time-content{
        width: 100%;
    }
    
    p {
        font-size: 16px;
    }

    .resume h3 {
        margin-bottom: 2rem;
    }

    .resume h2 {
        margin-left: 2rem;
    }

    .education p {
        font-size: 1rem;
    }

    .skills li {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .work ul li {
        line-height: 1.5rem;
        font-size: 1rem;
    }
  }

  @media only screen and (max-width: 700px) {
    .year-content{
        display: flex;
        flex-direction: column;
    }
    .time-position {
        display: flex;
        flex-direction: column;
    }
  }


