.header {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    padding-left: 4rem;
    padding-right: 4rem;
}

.header h1 {
    margin: 2rem;
    display: flex;
    align-items: center;
    font-size: 4rem;
}

nav {
    margin: 2rem;
    display: flex;
    width: 40%;
    text-transform: capitalize;
    align-items: center;
   
}

nav  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    list-style: none;
}

@media only screen and (max-width: 1000px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
    }
    .header h1 {
        font-size: 2.5rem;
    }

    .header nav {
        width: 100%;
        
    }

    .header nav ul {
        width: 100%;
        font-size: 1.2rem;
    } 
  }